<h1>New Mission</h1>

<%= form_for @mission do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
Planet:
<%= f.collection_select :planet_id, Planet.all, :id, :name %>
Scientist:
<%= f.collection_select :scientist_id, Scientist.all, :id, :name %>

<%= f.submit %>

<% end%>